.button-component--add{
    cursor: pointer;
    background: #266AEB!important;
    padding: 11px 57px;
    border: unset;
    color: white;
}
.button-component--cancel{
    cursor: pointer;
    border: 1px solid #266AEB;
    background-color: #ffffff!important;
    color: #266AEB!important;
    padding: 11px 46px;
}
.button-component{
    border-radius: 8px!important;
}