.navbar{
    display: flex;
    align-items: center;
}
.navbar-logo{
    border: 1px solid #C5C9D4;
    border-radius: 8px;
    padding: 7px;
}
.navbar-select{}
.navbar-select .MuiSelect-select{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: unset;
}
.navbar-select .MuiOutlinedInput-notchedOutline {
    border: unset;
}
.navbar-select .MuiSelect-icon {
    top: calc(50% - 0.2em);
}
.navbar-notification{
    padding-right: 34px;
    padding-left: 24px;
}
.navbar-profil{

}
.navbar-profil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
