.MuiBox-root.css-1wnsr1i {
    width: 1136px;
    padding: 30px!important;
}
.add-modal--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-select{
    width: 447px;
    background: #FAFCFE;
    border: 1px solid #EDEFF1!important;
    border-radius: 10px!important;
    height: 50px;
}
.customer-select-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 8px;
}
.icon-search{
    position: absolute;
    top: 47px;
    left: 14px;
    width: 18px;
    height: 18px;
}
.MuiSelect-select{
    padding-left: 46px!important;
}
.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 1px solid #EDEFF1!important;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    border-radius: 12px!important;
    box-shadow: unset!important;
    border-top-right-radius: unset!important;
    border-top-left-radius: unset!important;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 18px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #F2F6FA;
    border-radius: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #B2BBC4;
    border-radius: 2px;
    height: 20px;
}
.add-modal--selects .css-3qbkez-MuiSelect-icon,.MuiSelect-iconOpen{
    top: calc(50% - 0.1em)!important;
    right: 17px!important;
}
